/* General Body Styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: hsl(248, 10%, 15%);
}

/* Headings */
h1 {
    font-size: 2.4rem;
    text-align: center;
    color: hsl(251, 9%, 53%);
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8rem;
    color: hsl(0, 0%, 90%);
    margin-top: 0;
}

/* Labels and Inputs */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: hsl(0, 0%, 80%);
}

/* Slider */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%;
    height: 8px;
    background: hsl(0, 0%, 70%);
    border-radius: 4px;
    outline: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    width: 20px;
    height: 20px;
    background: hsl(127, 100%, 82%);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: hsl(127, 100%, 82%);
    border-radius: 50%;
    cursor: pointer;
}

#slider-value {
    font-size: 1rem;
    color: hsl(0, 0%, 80%);
    margin-left: 1rem;
}

/* Other Inputs */
input[type="number"] {
    width: 80px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

/* Button Styling */
.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: hsl(247, 11%, 15%);
    width: 100%;
    padding: 0.8rem 1.6rem;
    border: 2px solid hsl(127, 100%, 82%);
    background-color: hsl(127, 100%, 82%);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.generate-btn:hover {
    color: hsl(127, 100%, 82%);
    background-color: hsl(247, 11%, 15%);
}

/* Result Box */
.result {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: hsl(248, 10%, 10%);
    border: 1px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    color: hsl(0, 0%, 90%);
}

.result p {
    margin: 0;
    word-break: break-word;
}

/* Password Display */
.password {
    font-size: 2.4rem;
    color: hsl(252, 11%, 91%);
    background-color: hsl(248, 10%, 15%);
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    word-break: break-word;
}

/* Custom Checkbox Hover */
.custom-checkbox:hover {
    border-color: hsl(127, 100%, 82%);
}
 