<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="password">
            <strong>Generated Password:</strong>
            <p>{{ password }}</p>
          </div>
        <h2>Password Generator</h2>
        <label>
          Length:
          <input type="number" class="custom-checkbox" [(ngModel)]="length" min="1" max="100" />
        </label>
        <br />
        <label>
          <input type="checkbox" [(ngModel)]="includeUpperCase" class="custom-checkbox"/>
          Include Uppercase
        </label>
        <br />
        <label>
          <input type="checkbox" [(ngModel)]="includeNumbers" />
          Include Numbers
        </label>
        <br />
        <label>
          <input type="checkbox" [(ngModel)]="includeSpecial" />
          Include Special Characters
        </label>
        <br />
        <button (click)="generatepassword()">Generate Password</button>
        <br />

      </div>
    
    </body>

  
