<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <div class="password">
            <p>{{ password }}</p>
        </div>
        <div class="sub-container">
            <label>
                Length: <span id="slider-value">{{length}}</span>
                <input type="range" id="length-slider" [(ngModel)]="length" min="4" max="20"  />
            </label>
            <br />
            <label>
                <input type="checkbox" [(ngModel)]="includeUpperCase"/>
                Include Uppercase
            </label>
            <br />
            <label>
                <input type="checkbox" [(ngModel)]="includeNumbers" />
                Include Numbers
            </label>
            <br />
            <label>
                <input type="checkbox" [(ngModel)]="includeSpecial" />
                Include Special Characters
            </label>
            <br />
            <button (click)="generatepassword()" class="generate-btn" type="submit">
                <span>Generate</span>
                <svg 
                    width="12" 
                    height="12" 
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path 
                        fill="#24232C" 
                        d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/>
                </svg>
            </button>
        </div>
        <br />
    </div>

    <script>
        // JavaScript to update slider value display
        const slider = document.getElementById('length-slider');
        const sliderValue = document.getElementById('slider-value');
        slider.addEventListener('input', () => {
            sliderValue.textContent = slider.value;
        });
    </script>
</body>
