body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}
h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}
input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.result p {
    margin: 0;
    word-break: break-all;
}

.password {
    font-size: 3.2rem;
    color: hsl(252, 11%, 91%);
  }

  .custom-checkbox:hover {
    border-color: hsl(127, 100%, 82%);
  }